body {
    font-family: 'Open Sans', sans-serif, Arial;
}

.navbar {
    font-family: Montserrat, sans-serif, Arial;
}

.footer {
    font-family: Ubuntu, sans-serif, Arial;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}